@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
}
 header{
    background-color: grey;
    color: white;
 }
 header ul{
    color: white;
    background-color: black;
 }
 article{
    width: 80vw;
    background-color: aliceblue;
    

 }
